.sn {
  all: initial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sn-layout {
  position: fixed;
  top: 50%;
  right: 0;

  display: block;
  width: 200px;
  height: 300px;
  transform: translate(100%, -50%);
  transition: transform 0.3s;

  background-color: cadetblue;
}

.sn-layout.show {
  transform: translate(0, -50%);
}

.sn-toggle-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  background-color: coral;
}

